body {
  background-image: linear-gradient(to bottom, white 10%, c4ff7e 7.5%, white 3%, 371255 25%, white 15%)
}
.t {
  color: white;
  font-size: 65px;
  background-color: black
}
.h1 {
  color: white;
  font-size: 35px;
  background-color: SlateBlue
}
.d1 {
  color: white;
  font-size: 20px;
  background-color: SlateBlue
}
.h2 {
  color: white;
  font-size: 35px;
  background-color: Blurple
}
.d2 {
  color: white;
  font-size: 20px;
  background-color: Blurple
}
