.t {
  color: white;
  font-size: 65px;
  background-color: black
}
.h1 {
  color: white;
  font-size: 35px;
  background-color: SlateBlue
}
.d1 {
  color: white;
  font-size: 20px;
  background-color: SlateBlue
}
.h2 {
  color: white;
  font-size: 35px;
  background-color: Blurple
}
.d2 {
  color: white;
  font-size: 20px;
  background-color: Blurple
}
